.visiting-card__contact
{
    font-size: 1.5em;
}

.visiting-card__contact + .visiting-card__contact
{
    margin-top: 0.3em;
}

.visiting-card__contact .phone-number,
.visiting-card__contact .email
{
    padding-right: 0;
    padding-left: 45px;
}

.visiting-card__contact .phone-number__logo,
.visiting-card__contact .email__logo
{
    right: auto;
    left: 0;
}
