.phone-number__text
{
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.phone-number__text *
{
    display: inline;
}

.phone-number__country-code,
.phone-number__zone,
.phone-number__number1,
.phone-number__number2
{
    margin: 0 5px 0 0;
}
