.phone-number__logo
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 40px;
    margin: auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
